# Untracked binaries
util/ferh-cell-compare
util/half-column
util/minima
util/converge_check
util/difference

# Untracked generators
gen/**
# But include the generator source code
!gen/*.c

# Don't track vim swapfiles or emacs backups
*.sw*
*~
