# Untracked binaries
util/ferh-cell-compare
util/half-column
util/minima
util/converge-check
util/difference

# Untracked generators
gen/**
# But include the generator source code
!gen/*.c
!gen/*.h
!gen/Makefile

# Untracked sequencers
seq/**
# But include the sequencer source code
!seq/*.c
!seq/*.h
!seq/Makefile

# Don't track vim swapfiles or emacs backups
*.sw*
*~
